.potential__title {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}

.potential__title-highlight {
    color: var(--primary);
    font-size: 50px;
    text-transform: uppercase;
}

.potential__subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    margin-top: 10px;
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .potential__title {
        font-size: 2.5rem;
        line-height: 36px;
    }
}

@media only screen and (max-width: 1024px) {
    .potential__title {
        text-align: center;
        margin-top: 42px;
        font-size: 2rem;
    }

    .potential__title-highlight{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    .potential__title {
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

/* Stat style */
.stats {
    padding: 0 46px 110px;
    margin-top: 77px;
}

.potential .stats .c-row{
    align-items: initial;
}

.potential .stats .c-row--top {
    margin: 0 -10px 76px;
}

.potential .stats .c-row--top .c-row__col {
    width: 20%;
    padding: 0 10px;
}

.potential .stats .c-row--top .content-inner {
    background: var(--primary);
    border-radius: 80px;
    height: 100%;
    min-height: 349px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.potential .stats .c-row--top .content-inner p {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #fef9e8;
}

.potential .stats .c-row--top .content-inner span {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

@media only screen and (max-width: 1024px) {
    .potential .stats {
        padding: 30px 0;
        margin: 15px -20px 0;
        border-radius: 0;
    }

    .potential .stats .c-row--top .content-inner{
        border-radius: 30px;
        min-height: 202px;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .potential .stats .c-row--top{
        margin: 0 20px;
    }
    
    .potential .stats .c-row--top .c-row__col {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    
    .potential .stats .c-row--top {
        margin: 0;
    }

    .potential .stats .c-row--top .c-row__col{
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}


/* Features style */
.potential .features .c-row {
    align-items: initial;
}

.potential .features .c-row--inner{
    margin-top: 77px;
}

.potential .features .c-row--inner .c-row__col {
    width: 25%;
}

.potential .features .c-row--inner .c-row__col .model__bullet{
    left: 50%;
    transform: translateX(-50%);
}


.potential .features .c-row--inner .c-desc{
    margin-top: 30px;
}

.potential .features .c-row--inner .c-desc span{
    display: block;
    padding-left: 15px;
}

@media only screen and (max-width: 1024px) {
    .potential .features .c-row--inner .c-row__col {
        width: 33.3%;
    }   
}

@media only screen and (max-width: 767px) {
    .potential .features .c-row--inner {
        margin: 0;
    }
    .potential .features .c-row--inner .c-row__col {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    
    .potential .features .c-row--inner .c-row__col .model__bullet{
        
        width: 9px;
        height: 9px;
    }

    .potential .features .c-row--inner .c-row__col .model__bullet::before{
        top: -8px;
        left: -9px;
        width: 27px;
        height: 27px;
    }
}

/* Image style */
.potential .image-section{
    background-image: url('../images/banner7.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    min-height: 477px;
    border-radius: 60px;
    margin: 0 46px 80px;
    position: relative;
    overflow: hidden;
}

.potential .image-section__bottom--content{
    position: absolute;
    right: 0;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.potential .image-section__bottom--content:first-child{
    top: 0;
}

.potential .image-section__bottom--content:last-child{
    bottom: 0;
}

.potential .image-section__bottom--content p{
    height: 100%;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 50px;
}

.potential .image-section__bottom--content .u--green1{
    background: #9aa940;
}

.potential .image-section__bottom--content .u--blue{
    background: var(--primary);
}

.potential .image-section__bottom--content .u--green{
    background: #779634;
}

@media only screen and (max-width: 1024px) {
    .potential .image-section__bottom--content p{
        width: 50%;
        padding: 20px;
    }
}



