.roadmap .roadmap__layout {
    background-color: #fffae9;
    background-image: url("../images/bkRoadmap.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    overflow: hidden;
    padding: 86px 0 109px;
}

.roadmap .roadmap__title {
    text-align: center;
    margin-bottom: 110px;
}

.roadmap .roadmap__title h2 {
    margin-bottom: 8px;
}

@media only screen and (max-width: 1024px) {
    .roadmap .roadmap__layout {
        padding: 35px 0 40px;
    }

    .roadmap .roadmap__title {
        margin-bottom: 50px;
    }
}

/* style roadmap__route */
.roadmap .roadmap__inner {
    padding-bottom: 100px;
}
.roadmap .roadmap__route {
    display: flex;
    position: relative;
    width: 88%;
    margin: 0 auto;
}

.roadmap .c-route__list {
    width: 25%;
    position: relative;
}

.roadmap .c-route__list::before {
    content: "";
    position: absolute;
    top: 25px;
    width: 100%;
    height: 0.5px;
    background: var(--primary);
}

.roadmap .c-route__list p {
    text-align: center;
}

.roadmap .c-route__list:not(.is-active) {
    opacity: 0.5;
}

@media only screen and (min-width: 1025px) {
    .roadmap .roadmap__inner {
        padding-bottom: 230px;
    }

    .roadmap .c-route__list .u-gd {
        position: absolute;
        top: -23px;
        width: 100%;
    }

    .roadmap .c-route__list .c-title2 {
        position: absolute;
        left: -25%;
        top: 50px;
    }

    .roadmap .c-route__list .c-title2.u-gd1--1 {
        left: -8%;
    }

    .roadmap .c-route__list .c-desc.u-gd2 {
        text-align: left;
        left: -20%;
    }

    .roadmap .c-route__list .c-title2.u-gd2 {
        left: -10%;
    }

    .roadmap .c-route__list .c-dotitem.u-gd3 {
        position: absolute;
        top: 18px;
        right: 15px;
    }

    .roadmap .c-route__list .c-title2.u-gd3 {
        right: -120%;
    }

    .roadmap .c-route__list:not(.is-active) .c-dotitem::before {
        opacity: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .roadmap .roadmap__inner {
        max-width: 375px;
        margin: 0 auto;
    }

    .roadmap .roadmap__route {
        flex-wrap: wrap;
        width: 100%;
    }

    .roadmap .c-route__list {
        width: 100%;
        padding-left: 30%;
        height: 110px;
    }

    .roadmap .c-route__list::before {
        content: "";
        position: absolute;
        top: 8px;
        width: 1px;
        height: 100%;
        background: var(--primary);
    }

    .roadmap .c-route__list .u-gd {
        position: absolute;
        top: 0;
        margin-left: -100px;
    }

    .roadmap .c-route__list.is-active .u-gd {
        font-style: normal;
        font-weight: 700;
    }

    .roadmap .c-route__list .c-title2 {
        text-align: left;
        margin-top: -25px;
        margin-left: 25px;
    }

    .roadmap .c-route__list.is-active .c-title2 {
        color: #63a940;
    }

    .roadmap .c-route__list .c-title2 .c-desc {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 24px;
        color: #1b332e;
        margin-right: 5px;
    }

    .roadmap .c-route__list.is-active br {
        display: none;
    }

    .roadmap .c-route__list:nth-child(2) {
        height: 10px;
        margin-bottom: 40px;
    }

    .roadmap .c-route__list:not(.is-active) .c-title2 {
        font-size: 1.4rem;
        font-weight: 400;
    }

    .roadmap .c-route__list .c-route__list--gd3 {
        margin-top: 50px;
    }
}

.roadmap .c-desc.mr-auto {
    max-width: 1083px;
    margin: 0 auto;
    text-align: center;
}

/* style tab */
.roadmap .roadmap-tabs {
    margin: 80px 0;
    border-bottom: 0.5px solid black;
}

.roadmap .roadmap-tabs__list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0;
}

.roadmap .roadmap-tabs__item {
    position: relative;
    width: 20%;
    text-align: center;
    padding: 36px 10px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.roadmap .roadmap-tabs__item a {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.roadmap .roadmap-tabs__item.is-active a {
    font-weight: 700;
}

.roadmap .roadmap-tabs__item:not(.is-active)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary);
    transition: width 0.3s ease-in-out;
}

.roadmap .roadmap-tabs__item:not(.is-active):hover::after {
    width: 100%;
    opacity: 0.8;
}

/* Border bottom cho active item */
.roadmap .roadmap-tabs__item.is-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--primary);
}

/* tab-content */
.roadmap .roadmap-tabs__content {
    padding-bottom: 80px;
}

.roadmap .roadmap-tabs__pane {
    position: relative;
}

.roadmap .roadmap-tabs__pane img {
    border-radius: 60px;
}

.roadmap .roadmap-tabs__text {
    color: #eeebe2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 75px;
}

/* Mặc định ẩn tất cả tabs */
.roadmap-tabs__pane {
    display: none;
}

/* Hiện tab active */
.roadmap-tabs__pane.is-active {
    display: block;
}

@media only screen and (max-width: 1024px) {
    .roadmap .roadmap-tabs {
        margin: 20px 0;
        border-bottom: 0;
    }

    .roadmap .roadmap-tabs__item {
        padding: 10px 5px;
        display: block !important;
        width: 50%;
    }

    .roadmap .roadmap-tabs__item a {
        font-size: 1.3rem;
    }

    .roadmap .roadmap-tabs__pane img {
        height: 350px;
        object-fit: cover;
        border-radius: 30px;
    }

    .roadmap .roadmap-tabs__text {
        padding: 20px 20px 30px;
        top: initial;
        bottom: 0;
        transform: none;
    }

    .roadmap .roadmap-tabs__text .c-title1 {
        font-size: 2rem;
        line-height: 30px;
    }

    .roadmap .roadmap-tabs__text .c-title2 {
        font-size: 1.8rem;
        line-height: 28px;
    }
}
