:root {
    --primary: #63a940;
}

html {
    font-size: 62.5%;
    max-width: 1920px;
    margin: 0 auto;
}
body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-family: "Barlow";
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
    opacity: 0.7;
}

section{
    padding: 50px 0 90px;
}

.l-container {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

p {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 26px;
    margin-bottom: 16px;
}
.u-center{
    text-align: center;
}

.u-btn {
    display: inline-block;
    position: relative;
    color: #fff;
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 22px 40px;
    line-height: 22px;
    border-radius: 80px;
    cursor: pointer;
    outline: none;
    border: 0;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.c-btn1{
    color: #1b332e;
    background: #fff;
}

.c-btn3 {
    display: flex;
    align-items: center;
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
}

.c-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 -15px;
}

.c-row__col {
    padding: 0 15px;
}

.c-desc {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 26px;
}

.c-title1 {
    font-size: 5rem;
    line-height: 50px;
    text-transform: uppercase;
}

.c-title2 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 56px;
    text-transform: uppercase;
}

.c-subtitle {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 26px;
}

/* @media (min-width: 1401px) and (max-width: 1700px) {
  .c-title1 {
      font-size: 3.5rem;
      line-height: 45px;
  }
} */

@media (min-width: 1024px) and (max-width: 1400px) {
  .c-title1 {
      font-size: 3rem;
      line-height: 36px;
  }

  .c-title2 {
      font-size: 2.5rem;
      line-height: 36px;
  }
}

@media only screen and (max-width: 1024px) {
    .c-desc {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .c-title1 {
        font-size: 3rem;
        line-height: 1.5;
    }

    .c-title2 {
        font-size: 2rem;
        line-height: 24px;
    }

    .c-subtitle{
        font-size: 1.6rem;
        line-height: 24px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 767px) {
    .c-title1 {
        font-size: 2rem;
        line-height: 1.5;
    }

    .c-title2 {
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

.c-dotitem {
    position: relative;
    display: inline-block;
}

.c-dotitem::after {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--primary);
}

.c-dotitem::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    top: -15px;
    left: -15px;
    background-color: rgba(139, 195, 74, 0.2);
    border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
    .c-dotitem::after {
        width: 12px;
        height: 12px;
        top: -11px;
        left: -5px;
    }

    .c-dotitem::before {
        width: 37px;
        height: 37px;
        left: -18px;
        top: -23px;
    }
}

.model__bullet,
.roadmap__bullet {
    composes: c-dotitem;
}


.wrapper {
    max-width: 1460px;
    width: 100%;
    margin-inline: auto;
}

.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.barlow-extralight {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.barlow-light {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-medium {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-bold {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-extrabold {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.barlow-black {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.barlow-thin-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.barlow-extralight-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.barlow-light-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.barlow-regular-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-medium-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-semibold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-bold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.barlow-extrabold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.barlow-black-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: italic;
}
