/* home 1 */
.home1 .home1__image{
    width: 30%;
}

.home1 .home1__content{
    width: 70%;
    padding-left: 100px;
    padding-top: 13%;
}

/* SVG styles */
.c-btn3 svg {
    margin-left: 12px;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.c-btn3 path {
    transition: all 0.3s ease;
}

/* Normal state - màu trắng */
.c-btn3 path[stroke] {
    stroke: var(--primary); /* Màu cho border của circle */
}

.c-btn3 path[fill] {
    fill: var(--primary); /* Màu cho mũi tên */
}

/* Hover state - màu xanh */
.c-btn3:hover path[stroke] {
    stroke: var(--primary);
}

.c-btn3:hover path[fill] {
    fill: #EEEBE2;
}

.c-btn3:hover svg{
    background-color: var(--primary);
}

.home1 .swiper-pagination{
    display: flex;
    justify-content: flex-start; /* Căn trái thay vì center */
    padding-left: 30px; /* Căn lề trái để khớp với content */
    position: relative; /* Đảm bảo không bị position: absolute; của Swiper */
    bottom: auto; /* Reset bottom của Swiper */
    margin-top: 40px;
    margin-left: -20px;
}

/* style home2 */
.home2 {
    background-image: url('../images/homeBk1.svg');
    background-color: #fffae9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    padding: 0;
}

.home2 .home2__inner{
    padding: 140px 0 180px 170px;
}

@media screen and (min-width: 1632px) {
    .home2 .home2__inner {
        padding-left: 220px;
    }
}

.home2 .c-row__col{
    width: 50%;
    padding: 0;
}

.home2 .c-row__col:first-child{
    width: 50%;
    padding-right: 98px;
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .home2 .c-row__col:first-child {
        padding-right: 40px;
    }
}

.home2 .c-title1 {
    margin-bottom: 10px;
}
/* Navigation buttons  */
.home2 .js-showarrow{
    display: flex;
    align-items: center;
    margin: 5px -10px 0;
}

.home2 .js-showarrow .button-slider{
    outline: none;
    border: 0;
    background: transparent;
    padding: 0 10px;
    cursor: pointer;
}

.home2 .js-showarrow .button-slider:hover{
    opacity: 0.5;
}

/* Cột slider bên phải */
.home2 .home2__slide{
    border-radius: 80px;
    overflow: hidden;
    height: 75vh;
    margin-right: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}

.home2__image{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.3s ease;
}
.home2 .u-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home2 .home2__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: block;
    text-align: center;
    width: 100%;
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding: 0 50px;
    transition: opacity 0.5s ease, visibility 0.3s ease;
}

.home2 .home2__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: block;
    text-align: left;
    width: 100%;
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding: 0 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility 0.3s ease;
}

/* Style cho background overlay khi hover */
.home2 .home2__slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary); /* Màu xanh với độ trong suốt */
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}


/* Hiệu ứng khi hover vào slide */
.home2 .home2__slide:hover::before {
    opacity: 1;
    visibility: visible;
}

.home2 .home2__slide:hover .home2__title {
    opacity: 0;
    visibility: hidden;
}

.home2 .home2__slide:hover .home2__text {
    opacity: 1;
    visibility: visible;
}

/* Style home3 */
.home3{
    background-image: url("../images/homeBk2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
    text-align: center;
    color: #fff;
}

.home3 .home3__inner{
    max-width: 1230px;
    margin: 0 auto;
    padding: 330px 0 405px;
}

@media (min-width: 1401px) and (max-width: 1700px) {
    .home3 .home3__inner {
        padding: 250px 0;
    }
}
.home3 .c-title1{
    color: #dfcf9c;
    margin-bottom: 40px;
}

/* style button */
.home3 .u-btn{
    margin-top: 34px;
}

.u-btn::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    background-image: url('../images/icon-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 39.1px;
    height: 23.96px;
}

.u-btn:hover{
    background: linear-gradient(90deg, #63A940 5.7%, rgba(167, 209, 76, 0) 274.75%);
    opacity: 1;
}

/* home4 */
.home4{
    padding: 70px 0;
}

.home4 .home4__content{
    max-width: 1084px;
    margin: 0 auto;
}

.home4__content .c-title2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 5rem;
    line-height: 58px;
}

.home4__content span{
    color: var(--primary);
}

.home4__content .c-row{
    align-items: initial;
}

.home4__content .c-row__col{
    width: 26%;
}

.home4__content .u-center svg{
    margin: 0 auto;
}

.home4__content .c-desc{
    margin-top: 10px;
    font-family: "Barlow";
    font-style: italic;
    font-weight: 600;
}

/* Style home5 */
.home5 {
    min-height: 540px;
    background-image: url('../images/homeBk3.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
    color: #fff;
    padding-bottom: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home5 .c-title2 span {
    display: block;
    font-size: 3.5rem;
    line-height: 42px;
    color: #EEEBE2;
}

/* Style home6 */
.home6{
    background-image: url('../images/homeBanner3.png');
    background-color: #fffae9;
    padding: 100px 0 86px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home6 .l-container{
    max-width: 1200px;
}

.home6 .c-row{
    align-items: initial;
    justify-content: initial;
    margin: 0 -17.5px;
}

.home6 .c-row__col{
    width: 33.3%;
    padding: 0 17.5px;
    margin-bottom: 34px;
}

.home6 .c-content{
    position: relative;
    border-radius: 50px;
}

/* Card 1 */
.home6 .c-content.u-border{
    padding: 21px 18px;
    height: 100%;
}

.home6 .u-border{
    border: 1px dashed var(--primary);
}

.home6 .c-content__inner{
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    text-align: center;
    background: var(--primary);
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.home6 .c-content__inner h3{
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 96.0818px;
    line-height: 115px;
    color: #dfcf9c;
}

.home6 .c-content__inner h2 {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 26px;
    width: 100%;
    padding-left: 67px;
    text-align: left;
}

/* Another card */
.home6 .u-boxshadow{
    box-shadow: 0 0 41px rgba(0, 0, 0, 0.15);
}

.home6 .c-number{
    position: absolute;
    width: 48px;
    height: 76.8px;
    left: -10px;
    top: -16px;
    background: #fff;
    border: 1px solid var(--primary);
    border-radius: 9px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 70px;
    text-align: center;
    color: var(--primary);
    box-shadow: 0 3.49091px 9.6px rgba(0, 0, 0, 0.15);
}

.home6 .c-content img{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home6 .c-content p{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 26px;
    min-height: 263px;
    position: absolute;
    bottom: 0;
    padding: 0 40px 36px;
    color: #fff;
    background: linear-gradient(179.88deg, rgba(0, 0, 0, 0) .89%, rgba(9, 18, 16, 0.9) 64.89%);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0;
}

.home6__bottom{
    max-width: 950px;
    margin: 35px auto 0;
    text-align: center;
}

.home6__bottom .c-title2{
    margin-bottom: 31px;
}

.home6__bottom .c-title2 span{
    font-size: 7rem;
    font-weight: 700;
    color: var(--primary);
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .home6__bottom .c-title2 span{
        font-size: 4rem;
    }
}

.home6__bottom .u-btn:hover{
    opacity: 0.8;
    color: #fff;
}

/* Style home7 */
.home7{
    background-image: url('../images/homeBk4.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    text-align: center;
    padding: 80px 0 226px;
}

.home7__inner{
    max-width: 890px;
    margin: 0 auto;
}

.home7__inner .c-title1{
    margin-bottom: 70px;
}

.c-form__group{
    display: flex;
    padding-bottom: 25px;
    gap: 0 20px;
    position: relative;
}

.c-form__input{
    background: #FFF;
    border: 1px solid #1b332e;
    border-radius: 10px;
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 26px;
    color: #1b332e;
    padding: 20px 42px;
    height: max-content;
    width: 100%;
    box-sizing: border-box;
}

.c-form .u--select {
    background-image: url('../images/icon-down.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.c-form .u--select option[value=""][disabled] {
    display: none;
}