/* slider News */

.slider-news {
    margin: 0 auto;
    max-width: 100%; /* Đảm bảo rằng nó không vượt quá chiều rộng của trang */
}

/* Content */


.slider-news #content{
    width: 100%; 
    height: 34%;
    margin: 0 auto;
}



.slider-news #content .larg-news-item img {
    width: 715px;
    height: 450px;
}

.slider-news #content .small-news-grid img {
    width: 342.5px;
    height: 210px;
}

.slider-news .larg-news-item,
.slider-news .small-news-grid .col {
    position: relative;
    width: 100%;
    height: 100%;
}


.slider-news #content .larg-news-item img,
.slider-news #content .small-news-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    border-radius: 10px;
}

/* Căn chỉnh văn bản nằm trên hình ảnh */
.slider-news .overlay-text {
    position: absolute;
    bottom: 5%; /* Vị trí của text so với cạnh dưới hình ảnh */
    left: 20px;
    color: white;
    z-index: 1; /* Đảm bảo văn bản nằm trên ảnh */
    text-align: left;
    width: 90%; /* Giới hạn chiều rộng của văn bản để tránh tràn */
    text-align: justify;  /* căn lề */
    line-height: 26px;
}


.slider-news .overlay-text h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.slider-news .overlay-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.slider-news .custom-row-spacing-1 {
    margin-bottom: 15px; /* Adjust the gap between columns */
}
.slider-news .custom-row-spacing-2{
    margin-top: 20px;
}

/* end Content */

/* end slider News */

@media (max-width: 1675px){
    .slider-news .larg-news-item{
        padding-bottom: 10px;
    }

    .slider-news .overlay-text h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }
}

@media (max-width: 475px){
    .slider-news .larg-news-item{
        padding-bottom: 10px;
    }

    .slider-news .overlay-text p{
        font-size: 10px;
        line-height: 12px;
    }

    .slider-news .overlay-text h4 {
        font-size: 8px;
        font-weight: 600;
        line-height: 10px;
        padding: 0;
    }
}
