*{
    box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước của phần tử */
}

html, body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

#main{
    background-image: url('/assets/images/background.svg') !important;
    background-repeat: no-repeat;
    background-size: 1105px 972px;
    background-position: bottom right ;
    z-index: -1; /* Đảm bảo background không che nội dung */ 
}

/* Header */
#header {
    height: 127px; /* Đặt chiều cao cho header */
    background-color: var(--primary); /* Màu nền của header (được lấy từ biến CSS) */
    position: relative;
}

/* Logo */
.nav-logo {
    position: absolute;
    display: flex; /* Sử dụng Flexbox để logo và văn bản bên cạnh xếp hàng ngang */
    align-items: center; /* Căn giữa logo và văn bản theo chiều dọc */
    gap: 5px; /* Khoảng cách giữa logo và văn bản (AKING và VILLAGE) */
    top: 25%;
    left: 12%;
    width: 103px;
    height: 71px;
}

.nav-logo img {
    height: 70px; /* Điều chỉnh chiều cao của logo */
}

/* Văn bản AKING và VILLAGE */
.logo-text {
    display: flex;
    flex-direction: column; /* Xếp chữ AKING và VILLAGE theo cột (AKING ở trên, VILLAGE ở dưới) */
    align-items: flex-start; /* Căn chữ về bên trái */
    text-decoration: none;
}

.logo-text-aking, .logo-text-village {
    font-size: 14px; /* Điều chỉnh kích thước chữ */
    color: #ffffff; /* Màu chữ trắng */
    font-weight: normal;
}


.nav-menu {
    position: absolute;
    display: flex; /* Sử dụng Flexbox để sắp xếp các mục trong menu */
    justify-content: space-between;
    gap: 50px; /* Khoảng cách giữa các mục menu */
    list-style: none; /* Xóa dấu bullet (chấm đầu dòng) của các mục danh sách */
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

.nav-menu li a {
    color: #fff; /* Màu chữ trắng cho các liên kết trong menu */
    text-decoration: none; /* Loại bỏ gạch chân mặc định của các liên kết */
    font-weight: bold; /* Làm đậm chữ của các liên kết trong menu */
}

/* Phần mạng xã hội */
.nav-social {
    position: absolute;
    top: 40%;
    right: 8%;
    display: flex; /* Sử dụng Flexbox để sắp xếp các biểu tượng mạng xã hội */
    align-items: center; /* Căn giữa các biểu tượng theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa các biểu tượng mạng xã hội */
    margin-right: 54px; /* Thêm khoảng cách giữa các biểu tượng mạng xã hội và cạnh phải của header */
}

.nav-social a {
    color: #fff; /* Màu chữ trắng cho các liên kết mạng xã hội */
    text-decoration: none; /* Loại bỏ gạch chân của các liên kết mạng xã hội */
}

.social-icon {
    font-weight: bold; /* Làm đậm chữ của biểu tượng mạng xã hội (ví dụ như Facebook "f") */
    font-size: 16px; /* Kích thước chữ cho biểu tượng mạng xã hội */
}

.social-lang.vi {
    font-weight: bold; /* Làm đậm chữ "VI" */
    padding-right: 8px; /* Thêm khoảng cách giữa chữ "VI" và đường phân cách (|) */
    position: relative; /* Định vị tương đối để sử dụng pseudo-element (::after) */
}

.social-lang.vi::after {
    content: ''; /* Thêm nội dung giả (dấu phân cách |) sau chữ "VI" */
    position: absolute; /* Định vị tuyệt đối cho đường phân cách */
    right: 0; /* Đặt đường phân cách ở phía bên phải của chữ "VI" */
    top: 5px; /* Đặt vị trí của đường phân cách từ trên xuống */
    bottom: 0; /* Đường phân cách sẽ chạy từ đầu tới đáy của phần tử */
    width: 1px; /* Độ rộng của đường phân cách */
    height: 16px; /* Đặt chiều cao cố định của đường phân cách */
    background-color: #fff; /* Màu của đường phân cách là màu trắng */
    margin-left: 5px; /* Tạo khoảng cách giữa đường phân cách và chữ "EN" */
}

/* Nav-mobile */
.nav-bars-btn {
    position: absolute;
    top: 25%;
    right: 4%;
    font-size: 40px;
    color: #fff;
    display: none;
}

.nav-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: none;
}

.nav-mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform linear 0.2s;
    z-index: 2;
}

.nav-mobile-menu{
    margin-top: 70px;
}

.nav-mobile-menu:first-child{
    border-top: 1px solid var(--primary);
}

.nav-mobile-menu li a{
    display: block;
    color: var(--primary); /* Màu chữ trắng cho các liên kết trong menu */
    text-decoration: none; /* Loại bỏ gạch chân mặc định của các liên kết */
    font-weight: bold; /* Làm đậm chữ của các liên kết trong menu */
    padding: 15px 0;
    font-size: 1rem;
}

.nav-mobile-close{
    font-size: 1.5rem;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.break-line-mobile{
    position: absolute;
    width: 100%;
    margin-top: 60px;
    border: 1px solid var(--primary);
}

.nav-input{
    display: none;
}

.nav-input:checked ~ .nav-overlay{
    display: block;
}

.nav-input:checked ~ .nav-mobile{
    transform: translateX(0%);
}
/* end Header */



/* Slider */
#slider {
    position: relative;
    padding-top: 21%;
    background-image: url(/assets/images/shutterstock.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}


.text-content{
    position: absolute;
    width: 124px;
    height: 42px;
    top: 35%;
    left: 12%;
    color: #EEEBE2;
    font-size: 35px;
    font-weight: bold; /* Làm chữ đậm */
}
/* end Slider */

/* Tabs */

#tabs{
    height: 100px;
    width: 1460px;
    margin: 88px auto 70px ;
}

.nav-link{
    width: 315px;
    height: 100px;
    display: flex;
    justify-content: center;  /* Căn giữa theo chiều ngang */
    align-items: center;      /* Căn giữa theo chiều dọc */
    transition: all 0.3s ease;
}

.nav-tabs .nav-link {
    color:#1B332E;
    font-weight: 400;
    line-height: 26px;
    border: none; /* Tắt đường viền */
    outline: none; /* Tắt đường viền khi được focus */
}

.nav-tabs .nav-link.active {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px solid var(--primary)
}

.tab-pane {
    display: none; /* Ẩn tất cả các tab mặc định */
}

.tab-pane.active {
    display: block; /* Hiển thị tab đang hoạt động */
}

#tab-content {
    height: auto;
}
/* end Tabs */



/* button scrollToTop */
.scrollToTop {
    position: fixed;
    bottom: 20px; 
    right: 40px;
    background-color: var(--primary);
    border-radius: 50%;
    border: none;
    color: white;
    width: 5vw;
    height: 5vw;
    text-align: center;
    line-height: calc(5vw - 6px); /* Đảm bảo icon căn giữa */
    font-size: 2vw; /* Kích thước icon */
    opacity: 0.5; /* Độ mờ ban đầu */
    transition: opacity 0.3s ease; /* Hiệu ứng chuyển mờ khi hover */
    z-index: 999; /* Đảm bảo nút luôn ở trên cùng */
}

.scrollToTop:hover {
    opacity: 1; /* Khi hover vào nút, nó sẽ sáng lên */
    cursor: pointer; /* Thay đổi con trỏ thành biểu tượng pointer */
}
/* end button scrollToTop */

/* Responsive*/
@media (max-width: 1675px) {
    
    /* Header */
    #header .nav-bars-btn{
        display: block;
    }

    .nav-menu{
        display: none;
    }

    /* Tabs */
    #tabs{
        width: 100%;
    }

    .nav-tabs .nav-link{
        display: none;
    }
    
    .nav-tabs{
        display: flex;
        justify-content: center;
    }

    .nav-tabs .nav-link.active{
        display: flex;
        text-align: center;
        margin: auto;
    }

}


/* Footer */

#footer {
    position: relative;
    display: flex;
    justify-content: space-between; /* Space between logo and contact section */
    align-items: center; /* Align items vertically */
    background-color: var(--primary);
    height: 251px;
    margin-top: 20px;
}



#nav-logo-footer {
    position: absolute;
    display: flex; /* Sử dụng Flexbox để logo và văn bản bên cạnh xếp hàng ngang */
    align-items: center; /* Căn giữa logo và văn bản theo chiều dọc */
    gap: 5px; /* Khoảng cách giữa logo và văn bản (AKING và VILLAGE) */
    width: 140px;
    height: 97px;
    top: 25%;
    left: 12%;
}


#nav-logo-footer img {
    width: 54px;
    height: 97px; /* Điều chỉnh chiều cao của logo */
}

/* Văn bản AKING và VILLAGE */
.logo-text-footer {
    display: flex;
    flex-direction: column; /* Xếp chữ AKING và VILLAGE theo cột (AKING ở trên, VILLAGE ở dưới) */
    align-items: flex-start; /* Căn chữ về bên trái */
    width: 73px;
    height: 37px;
}

.logo-text-aking-footer, .logo-text-village-footer {
    font-size: 16px; /* Điều chỉnh kích thước chữ */
    color: #ffffff; /* Màu chữ trắng */
    font-weight: normal; 
}

.contact-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 122px;
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 20px;
    right: 8%;
    gap: 10px;
    color: #ffffff;
}

.contact-wrapper h5{
    font-weight: 700;
}

/* end Footer */

.swiper {
    width: 100%;
    padding-bottom: 15%;
}    


/* Tùy chỉnh pagination */
.swiper-pagination {
    display: flex; /* Sử dụng Flexbox để sắp xếp các chấm ngang hàng */
    justify-content: center; /* Căn giữa các chấm theo chiều ngang */
    align-items: center; /* Căn giữa các chấm theo chiều dọc */
    gap: 4vw; /* Khoảng cách giữa các chấm là 81px */
    position: relative; /* Vị trí tương đối để có thể căn chỉnh chấm bên trong */
    margin-top: 20px; /* Khoảng cách từ pagination đến nội dung bên trên */
    --swiper-pagination-bottom: -10vh; /* Điều chỉnh vị trí của pagination xuống dưới so với nội dung swiper */
    z-index: 1; /* Đảm bảo pagination nằm trên các thành phần khác */
}

/* Thêm đường nối giữa các chấm pagination */
.swiper-pagination-bullet::before {
    content: ''; /* Tạo một phần tử giả trước mỗi chấm để tạo đường nối */
    position: absolute; /* Đặt đường nối theo vị trí tuyệt đối so với chấm */
    top: 50%; /* Đặt đường nối ở giữa chiều cao của chấm */
    left: 100%; /* Đặt đường nối bắt đầu từ mép bên phải của chấm */
    width: 5vw; /* Độ dài của đường nối */
    height: 0.5px; /* Độ dày của đường nối */
    background-color: var(--primary); /* Màu sắc của đường nối */
    transform: translateY(50%); /* Dịch chuyển đường nối một chút để đảm bảo nó nằm chính giữa */
    z-index: 0; /* Đảm bảo đường nối nằm sau chấm */
}

/* Tùy chỉnh cho chấm không active */
.swiper-pagination-bullet {
    width: 1.5vw; /* Đặt kích thước chấm không active là 17px */
    height: 1.5vw;
    background-color: var(--primary); /* Màu của chấm không active */
    border-radius: 50%; /* Tạo hình tròn cho chấm */
    opacity: 1; /* Độ trong suốt của chấm là 100% */
    position: relative; /* Đặt vị trí tương đối để căn chỉnh phần tử con */
    z-index: 1; /* Đảm bảo chấm nằm trên đường nối */
    
}

/* Tùy chỉnh cho chấm active (đang được chọn) */
.swiper-pagination-bullet-active {
    width: 1.5vw; /* Đặt kích thước của chấm active */
    height: 1.5vw;
    background-color: var(--primary); /* Màu của chấm active */
    border-radius: 50%; /* Tạo hình tròn cho chấm active */
    opacity: 1; /* Độ trong suốt cho chấm active */
    position: relative; /* Đặt vị trí tương đối để căn chỉnh phần tử con */
    z-index: 2; /* Đảm bảo chấm active nằm trên các phần tử khác */
}

/* Tạo chấm nhỏ ở giữa chấm active */
.swiper-pagination-bullet-active::after {
    content: ''; /* Tạo một phần tử giả sau chấm active */
    width: 3.5vw; /* Kích thước của chấm nhỏ bên trong chấm active */
    height: 3.5vw;
    background-color: var(--primary); /* Màu của chấm nhỏ bên trong */
    border-radius: 50%; /* Tạo hình tròn cho chấm nhỏ */
    position: absolute; /* Đặt chấm nhỏ bên trong chấm active */
    top: 50%;
    left: 50%;
    opacity: 0.3;
    transform: translate(-50%, -50%); /* Căn giữa chấm nhỏ */
    z-index: 2; /* Đảm bảo chấm nhỏ nằm trên các phần tử khác */
}

/* Loại bỏ đường nối từ chấm cuối */
.swiper-pagination-bullet:last-child::before {
    display: none; /* Ẩn đường nối cho chấm cuối cùng */
}


@media (max-width: 1675px) {
    
    /* Header */
    #header .nav-bars-btn{
        display: block;
    }

    .nav-menu{
        display: none;
    }

    /* Tabs */
    #tabs{
        width: 100%;
    }

    .nav-tabs .nav-link{
        display: none;
    }
    
    .nav-tabs{
        display: flex;
        justify-content: center;
    }

    .nav-tabs .nav-link.active{
        display: flex;
        text-align: center;
        margin: auto;
    }

}

